tests/datasets/jb_pi.csv
test/datasets/*
test/results/*
test/prompts/*
tests/datasets/jb_pi.csv
tests/datasets/test.csv
tests/datasets/train.csv
tests/datasets/urls.csv
tests/datasets/jb_pi.csv
tests/datasets/test.csv
tests/datasets/train.csv
tests/datasets/urls.csv
tests/results/bad_samples.csv
tests/results/custom_bad_samples.csv
tests/results/custom_results.csv
tests/results/custom2_bad.csv
tests/results/jb_pi_bad.csv
tests/results/jb_pi_result_temper_0.csv
tests/results/jb_pi_result.csv
tests/results/jb_pi_bad_temper_0.csv
tests/results/results_part_1.csv
openai/.env
